<div class="col">
<div class="card h-100">
  <div class="card-body">
    <h5 class="card-title">@Text</h5>
    <p class="card-text">@Year</p>
    <img src=@Img class="card-img-top" alt="...">

    <button class="btn btn-link" @onclick="ToggleFavorite">
        @if (IsFavorite) {
            <i class="fa-solid fa-star" style="color: gold;"></i>
        } else {
            <i class="fa-regular fa-star" style="color: grey;"></i>
        }
        </button>
  </div>
</div>
</div>

@code {
    [Parameter]
    public string? Text { get; set; }
    [Parameter]
    public string? Year { get; set; }
    [Parameter]
    public string? Img { get; set; }

    private bool IsFavorite { get; set; }

    private void ToggleFavorite() {
        IsFavorite = !IsFavorite;
    }
}
