@inject FavoriteService favorite
@inject OMDBService omdb

<div class="col">
<div class="card h-100">
  <div class="card-body">
    <h5 class="card-title">@Text</h5>
    <p class="card-text">@Year</p>
    <img src=@Img class="card-img-top" alt="...">

    <div>
    @if (IsImported){
        @if (IsFavorite) {
            <i class="fa-solid fa-star" style="color: gold;" @onclick="ToggleFavorite"></i>
        } else {
            <i class="fa-regular fa-star" style="color: grey;" @onclick="ToggleFavorite"></i>
        }
    } else {
        <i class="fa-solid fa-plus" style="color: grey;" @onclick="Import"></i>
    }
        </div>
  </div>
</div>
</div>

@code {
    [Parameter]
    public string? Text { get; set; }
    [Parameter]
    public string? Year { get; set; }
    [Parameter]
    public string? Img { get; set; }
    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public string OMDBId { get; set; }

    [Parameter]
    public bool IsFavorite { get; set; }

    [Parameter]
    public bool IsImported { get; set; }

    private void ToggleFavorite(MouseEventArgs e) {
        if (IsFavorite) {
            favorite.RemoveFilm(0, Id);
        } else {
            favorite.AddFilm(0, Id);
        }
        IsFavorite = !IsFavorite;
    }

    private void Import(MouseEventArgs e){
        if (!IsImported) {
            omdb.ImportFilm(OMDBId);
            IsImported = !IsImported;
        }        
    }

}
