@page "/FilmsList"

@inject FilmService film

<PageTitle>Films List</PageTitle>

<div class="row row-cols-1 row-cols-md-3 g-4">
@foreach (var f in films) {
<Card 
    Text=@f.Title 
    Year=@f.Date
    Img=@f.Poster
    Id=@f.Id
    >
</Card>
}
</div>

@code {
    private List<Film> films = new List<Film>();
    protected override async Task OnInitializedAsync() {
        films = await film.GetFilms();
    }
}
